<section class="section-produit-contenaire">
    <h2 class="section-title">🛍️ Trouvez Votre Modèle Idéal 🛍️</h2>

    <div class="produits-container">
        <img src="{% static 'ss2.jpg' %}" alt="Image 1" class="image">
        <img src="{% static 'ss1.jpg' %}" alt="Image 2" class="image">
        <img src="{% static 'livre.jpg' %}" alt="Image 3" class="image">
        <img src="{% static 'v.jpg' %}" alt="Image 4" class="image">
        <img src="{% static 'b.jpg' %}" alt="Image 5" class="image">
        <img src="{% static 'f.jpg' %}" alt="Image 6" class="image">
    </div>

    <div class="produit-carousel-container">
        <div class="produit-carousel-track">
            <div class="produit-carousel-item"><img src="{% static 'v.jpg' %}" alt="Produit 1"></div>
            <div class="produit-carousel-item"><img src="{% static 'b.jpg' %}" alt="Produit 2"></div>
            <div class="produit-carousel-item"><img src="{% static 'f.jpg' %}" alt="Produit 3"></div>
            <div class="produit-carousel-item"><img src="{% static 'v.jpg' %}" alt="Produit 1"></div>
            <div class="produit-carousel-item"><img src="{% static 'b.jpg' %}" alt="Produit 2"></div>
            <div class="produit-carousel-item"><img src="{% static 'f.jpg' %}" alt="Produit 3"></div>
            <div class="produit-carousel-item"><img src="{% static 'b.jpg' %}" alt="Produit 2"></div>
            <div class="produit-carousel-item"><img src="{% static 'f.jpg' %}" alt="Produit 3"></div>
        </div>
    </div>

    <div class="publicite-container">
        <h3 class="publicite-title">🔥 Des offres incroyables, ne ratez pas votre chance ! 🔥</h3>
        <div class="publicite-liste">
            <div class="publicite-item">
                <img src="{% static 'f.jpg' %}" alt="Électronique">
            </div>
            <div class="publicite-item">
                <img src="{% static 'f.jpg' %}" alt="Vêtements">
            </div>
            <div class="publicite-item">
                <img src="{% static 'b.jpg' %}" alt="Chaussures">
            </div>
            <div class="publicite-item">
                <img src="{% static 'b.jpg' %}" alt="Chaussures">
            </div>
            <div class="publicite-item">
                <img src="{% static 'b.jpg' %}" alt="Chaussures">
            </div>
            <div class="publicite-item">
                <img src="{% static 'b.jpg' %}" alt="Chaussures">
            </div>
        </div>
    </div>
</section>