<!-- Navbar -->
<nav class="navbar">
    <div class="logo-container">
      <img src="{% static 'lo.jpeg' %}" alt="Logo" class="logo">
      <span class="platform-name">WarabaGuinee</span>
    </div>

    <!-- Menu principal -->
    <div class="nav-links">
      <a href="#"><i class="fa fa-box"></i> Produits</a>  <!-- Icône des produits -->
      <a href="#boutique-icon"><i class="fa fa-store"></i> Boutique</a>  <!-- Icône de la boutique -->
      <a href="#propos"><i class="fa fa-info-circle"></i> À propos</a>  <!-- Icône à propos -->
      <a href="#"><i class="fa fa-envelope"></i> Contact</a>  <!-- Icône de contact -->
    </div>

  <!-- Barre de recherche en dehors du modal -->
<div class="search-container" class="container my-5">
    <input type="text" class="search-bar" id="search-input" placeholder="Rechercher une boutique ...">
    <button class="search-icon">
        <i class="fa fa-search"></i>
    </button>
</div>
  
  
    <!-- Icônes de navigation -->
    <div class="icons">
      <!-- Panier -->
      <button class="cart-icon">
        <i class="fa fa-shopping-cart"></i>
      </button>

      <!-- Notifications -->
      <button class="notification-icon">
        <i class="fa fa-bell"></i>
      </button>

      <!-- Langue et devise -->
      <div class="currency">
        <button class="currency-icon">GNF</button>
      </div>

      <!-- Compte utilisateur -->
      <div class="user-icon">
        <button class="user-button">
          <i class="fa fa-user"></i>
        </button>
        <div class="user-menu">
          <a href="{% url 'inscription' %}">Créer un compte boutique</a> <!-- Lien pour créer un compte boutique -->
          <a href="{% url 'login' %}">Gérer ma boutique</a> <!-- Lien pour gérer la boutique -->
        </div>
      </div>
    </div>

    <!-- Menu hamburger -->
    <button class="hamburger" onclick="toggleMenu()">&#9776;</button>
</nav>
