<section class="section-transaction" id="propos">
    <div class="text-section">
        <h2 class="section-title">À propos de WarabaGuinée</h2>
        <h3>Créez et gérez votre boutique en ligne en Guinée avec WarabaGuinée</h3>
        <p>
            WarabaGuinée est une plateforme e-commerce innovante dédiée aux commerçants et acheteurs en Guinée. Créez votre boutique en ligne en quelques clics, gérez vos produits, et commencez à vendre facilement. Les acheteurs peuvent découvrir vos produits et passer des commandes de manière simple et sécurisée.
        </p>
        <p>Voici ce que vous offre WarabaGuinée :</p>
        <div class="icons">
            <div>
                <i class="fas fa-store icon"></i>
                <p>Créez votre propre boutique en ligne</p>
            </div>
            <div>
                <i class="fas fa-truck icon"></i>
                <p>Livraison facilitée à travers la Guinée</p>
            </div>
            <div>
                <i class="fas fa-credit-card icon"></i>
                <p>Paiement sécurisé à la livraison</p>
            </div>
        </div>
        <button class="cta-button">Commencez à créer votre boutique</button>
    </div>
    <div class="image-section">
        <video width="100%" height="auto" autoplay loop muted>
            <source src="{% static 'achat.mp4' %}" type="video/mp4">
            Votre navigateur ne prend pas en charge la balise vidéo.
        </video>
    </div>
</section>

<!-- Waraba Container Section -->
<div class="waraba-container">
    <div class="left">
        <img src="{% static 'b.jpg' %}" alt="WarabaGuinée Image" class="waraba-image">
    </div>
    <div class="right">
        <h1>WarabaGuinée est là pour vous accompagner</h1>
        <p>Créer une boutique en ligne, gérer vos produits, ou simplement faire des achats en ligne en Guinée, <a href="#" class="cta-link">WarabaGuinée</a> est la solution complète pour tous vos besoins en e-commerce.</p>
        <div class="stats">
            <div><span>Une plateforme innovante</span> pour les commerçants en Guinée</div>
            <div>Transactions sécurisées jusqu'à <span>des millions de GNF</span></div>
            <div><span>0% de commission cachée</span> Transparence totale</div>
        </div>
    </div>
</div>

    
</section>