<!-- Carousel -->
<div class="slider">
    <div class="slides">
      <div class="slide active">
        <img src="{% static 'b.jpg' %}" alt="Boutique 1">
        <div class="text">
          <h2>Découvrez notre boutique tendance</h2>
          <p>Des produits exclusifs à ne pas manquer !</p>
          <a href="#" class="btn">Visitez maintenant</a>
        </div>
      </div>
      <div class="slide">
        <img src="{% static 'f.jpg' %}" alt="Boutique 2">
        <div class="text">
          <h2>Économisez avec nos offres spéciales</h2>
          <p>Les meilleures réductions sont ici.</p>
          <a href="#" class="btn">Achetez maintenant</a>
        </div>
      </div>
      <div class="slide">
        <img src="{% static 'v.jpg' %}" alt="Boutique 3">
        <div class="text">
          <h2>Produits locaux de qualité</h2>
          <p>Soutenez les commerçants de votre région.</p>
          <a href="#" class="btn">Explorer plus</a>
        </div>
      </div>
      <!-- Ajoute des images supplémentaires -->
      <div class="slide">
        <img src="{% static 'b.jpg' %}" alt="Boutique 4">
        <div class="text">
          <h2>Collection exclusive d'automne</h2>
          <p>Des vêtements tendance pour cette saison.</p>
          <a href="#" class="btn">Achetez maintenant</a>
        </div>
      </div>
      <div class="slide">
        <img src="{% static 'ac.jpg' %}" alt="Boutique 5">
        <div class="text">
          <h2>Offres spéciales pour nos membres</h2>
          <p>Rejoignez notre programme fidélité !</p>
          <a href="#" class="btn">Devenir membre</a>
        </div>
      </div>
      <div class="slide">
        <img src="{% static 'ss2.jpg' %}" alt="Boutique 6">
        <div class="text">
          <h2>Nos produits sont faits pour durer</h2>
          <p>Découvrez notre collection de qualité.</p>
          <a href="#" class="btn">Voir plus</a>
        </div>
      </div>
      <div class="slide">
        <img src="{% static 'ss1.jpg' %}" alt="Boutique 7">
        <div class="text">
          <h2>La mode à petits prix</h2>
          <p>Trouvez la qualité à des prix incroyables.</p>
          <a href="#" class="btn">Explorer la collection</a>
        </div>
      </div>
      <div class="slide">
        <img src="{% static 'livre.jpg' %}" alt="Boutique 8">
        <div class="text">
          <h2>Livraison gratuite pour toute commande</h2>
          <p>Recevez vos achats directement chez vous.</p>
          <a href="#" class="btn">Commander maintenant</a>
        </div>
      </div>
    </div>
    <div class="dots-container">
      <span class="dot active"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>
  </div>